@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}
body {
  font-size: 1rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 9vh;
  color: white;
  background-color: black;
  padding: 1vw;
}
.logo-container {
  flex: 2;
}
.logo-container a {
  /* font-family: "Allura", cursive;
   */
  font-size: 1.15em;
  padding: 1vw;
}
nav {
  flex: 1;
}
.logo-container img {
  vertical-align:text-bottom;
  margin-right: 0.2em;
}
.logo-container:hover a{
  color: #a19dff;
}
.logo-container img{
  transition: 0.5s;
}
.logo-container:hover img{
  filter: invert(53%) sepia(18%) saturate(1261%) hue-rotate(203deg) brightness(104%) contrast(101%);
}
header ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
header ul li {
  margin: 0 1em;
  
}
header a {
  text-decoration: none;
  color: white;
  font-weight: 550;
  transition: 0.5s;
  border-bottom: 1.5px solid transparent;

}
header li a:hover{
  border-bottom: 1.5px solid #a19dff;
  color: #a19dff;
}
main {
  display: flex;
  /* background:linear-gradient(to right,black,white); */
}
.todo-flex {
  /* background-color:gray; */
  border-right: 1px dotted black;
  width: 50%;
  height: 90.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list-container h1 {
    text-align: center;
    border-bottom: 1px solid white;
    letter-spacing: 2px;
    text-shadow: 3px 3px #6C63FF;
}
#counter{
  font-size:0.6em;
  vertical-align:middle;
  margin-left: 1em;
}

.todo-list-container{
    color: white;
    background-color:black;
    height:80vh;
    width: 70%;
    border-radius: 15px;
    border:1px solid white;
    /* background-image: url(/imgs/empty.svg); */
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    
}

#ordered-list{
    height:62vh;
    padding:1em 1em 1em 2em;
    font-size:1.4em;
    font-weight:550;
    overflow-y:scroll;
    word-break: break-all;
    
}
#ordered-list::-webkit-scrollbar{
  width:9px;
  height:90%;
}
#ordered-list::-webkit-scrollbar-track{
  background-color: rgb(41, 41, 41);
   
}
#ordered-list::-webkit-scrollbar-thumb{
  background-color: rgb(128, 128, 128);
  border-radius:10px;
}
#ordered-list li {
    margin-bottom:1em;
}
.task-text{
    display: inline-block;
    vertical-align:top;
    width: 68%;
    padding-left: 1.1 em; 
}
.del-complete{
    display:flex;
    float: right;
    background-color: black;
    align-items: center;
    justify-content:flex-end;
    min-width: 30%;
    
    /* background-color:red; */
}
.done{
    background-color:rgb(31, 223, 31);
    width:36px;
    height:36px;
    
    border: none;
    cursor:pointer;
    border-radius:20px;
    display:flex;
    align-items:center;
    justify-content:center;

    background-image: url(./imgs/done.svg);
    background-size:65%;
    background-repeat:no-repeat;
    background-position: center;
}
.delete{
    background-color:rgb(255, 28, 28);
    /* background-color:rgb(216, 216, 0); */
    width:36px;
    height:36px;
    border: none;
    margin-left: 0.4vw;
    cursor: pointer;
    /* border-radius:18px; */
    border-radius:20px;
    display:flex;
    align-items:center;
    justify-content:center;

    background-image: url(./imgs/delete.svg);
    background-size:65%;
    background-repeat:no-repeat;
    background-position: center;
}
#clearall{
  color: white;
  float: right;
  margin: auto 5%;
  margin-top:3vh;
  padding: 0.2em 0.6em;
  background-color: red;
  border:none;
  border-radius: 10px;
  cursor: pointer;
}
/* Adder (right) */
.checkbox-container{
  background-color:black;
  position: absolute;
  top: 11vh;
  right: 1%;
  font-size: 0.9em;
  color: white;
  padding:0.35em 0.7em;
  border-radius:10px;
  cursor: pointer;
}
/* #mute{
  vertical-align:middle;
} */
.adder-flex {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stopwatch {
  width:60%;
  height:27vh;
  margin-top: 10vh;
  font-weight: 700;
  border-bottom: 1px solid black;
  background-color: black;
  border-radius:20px;
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  box-shadow: 7px 4px 4px 1px #564fce;
}
#time{
  font-size:1.7em;
  background-color:rgb(218, 218, 218);
  padding: 1.7vh auto;
  width: 85%;
  height:35%;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius:10px;
  letter-spacing:2px;
}
.stopwatch-btns{
  width:60%;
  /* background-color: aqua; */
  display:flex;
  justify-content:space-between;
  margin-top: 4%;
  
}
#start{
  border: none;
  border-radius:5px;
  background-color:lightgreen;
  width:6em;
  height:2.3em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
#start:hover,#reset:hover{
  transform: scale(1.05);
}
#reset{
  cursor: pointer;
  border: none;
  border-radius:5px;
  background-color:rgb(255, 35, 35);
  width:6em;
  height:2.3em;
  font-weight: 600;
  transition: 0.5s;
  
}
.quote {
  font-size: 0.9em;
  margin-top: 5vh;
  text-align: center;
  width: 60%;
}
.quoter {
  font-size: 0.9em;
  margin-top: 1vh;
  width: 50%;
  text-align: right;
}
#input-task {
  margin-top: 10vh;
  font-size: 1.4em;
  width: 50%;
  font-weight: 600;
  border: 1.35px solid black;
  padding: 0.1em 0.25em;
  border-radius: 5px;
  transition: 0.5s;
}
#input-task:hover{
  background-color:rgb(228, 228, 228);
}
#input-task:focus {
  box-shadow: 0 0 3px 3px violet;
  background-color: white;
}
#input-submit {
  margin-top: 6vh;
  padding: 0.3em 1em;
  font-size: 1.1em;
  
  border: 1px solid gray;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s;
  background-color:#b3afff;
}

#input-submit:hover {
  background-color: #7b74ff;
}
#totaltime-div{
  font-size:1.15em;
  position:absolute;
  bottom: 3vh;
  right: 33%;
  font-weight: 500;
}
#totaltime{
  
  font-size:0.85em;
  font-weight: 300;
}
#about-body{
  background: linear-gradient(160deg,#a19dff,#e6e5ff 40%);
  height:100vh;
}
.madeby{
  font-size:4em;
  margin: 0.7em 1em;
  transition: 0.7s;
  font-weight: 600;
  background: linear-gradient(to right,rgb(0, 0, 0),rgb(175, 175, 175));-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.madeby::after{
  display:block;
  content:'';
  height: 1vh;
  width:70%;
  border-bottom: 1px solid gray;
}
.myportfolio div{
  transition:1s;
  display:inline-block;
  text-decoration: underline;
  margin-left: 1em;
  background: linear-gradient(to right,rgb(0, 0, 0),rgb(121, 121, 121));-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.myportfolio:hover div{
 transform: translateX(85%);
}
.myportfolio h3{
display: inline-block;
transition: 1s;
transform-origin: left;
transform:scaleX(0.4);
background-color:black;
}
.myportfolio:hover h3{
  transform:scaleX(9);
}
.myportfolio{
  font-size:3.2em;
  margin: 1em;
  color: black;
  font-weight: 600;
  /* background-color: aqua; */
  width:70%;
  cursor:pointer;
}
.projects{
  font-size:2.2em;
  margin: 1em 1.5em;
  color: black;
  font-weight: 600;
  /* background-color: aqua; */
  width:70%;
  cursor:pointer;
}
.projects:hover h3{
  transform:scaleX(11);
}
.projects div{
  background: linear-gradient(to right,rgb(0, 0, 0),rgb(128, 128, 128));-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  vertical-align:middle;
  transition:1s;
  display:inline-block;
  text-decoration: underline;
  margin-left: 2em;
}
.projects:hover div{
 transform: translateX(85%);
}
.projects h3{
display: inline-block;
transition: 1s;
transform-origin: left;
transform:scaleX(0.5);
background-color:black;
}

@media all and (max-width:1200px){
  .todo-list-container{
    height: 65vh;
  }
  #ordered-list{
    height:51vh;
  }
}

@media all and (max-width:1100px){
  .todo-list-container{
    width: 90%;
  }
}
@media all and (max-width:730px){
  main{
    flex-direction:column;
    min-height: 100vh;
  }
  .todo-flex{
    width:100%;
    align-items: flex-start;
    margin-top: 2.5vh;
    height: 50vh;
  }
  .todo-list-container{
    width:80%;
    height:50vh;
  }
  #ordered-list{
    height:37vh;
  }
  .checkbox-container{
    /* top: 10vh; */
    position: absolute;
    top: 103.8vh;
    right: 2vw; 
    font-size: 0.9em;
    margin-bottom: 2vh;
    /* height:2vh; */
    /* display:none; */
  }
  .adder-flex{
    width:100%;
    align-items: center;
  }
  .adder-flex h1{
    margin-top:4.5vh;
  }
  .stopwatch{
    margin-top: 3vh;
    width:75%;
    height:18vh;
  }
  /* .quote{
    margin-top:3vh ;
  } */
  #input-task{
    margin-top:5vh;
    width: 60%;
  }
  #totaltime-div{
    top: 104.8vh;
    left: 3vw;
  }
  #input-submit{
    margin-top:3vh; 
    margin-bottom:6vh; 

  }
  .madeby{
    font-size:9vw;
  }
  .myportfolio{
    margin-top:20vh;
    font-size:8vw;
    width:70vw;
  }
  .projects{
    font-size:5.5vw;
    width:70vw;
  }
  .myportfolio:hover div{
    transform: translateX(45%);
  }
  .myportfolio:hover h3{
  transform:scaleX(6);
    
  }
  .projects:hover h3{
  transform:scaleX(6);
    
  }
  .projects:hover div{
    transform: translateX(65%);
  }
  
}
@media all and (max-height:795px){
  .todo-list-container{
    height:55vh;
  }
  .stopwatch{
    margin-top:11vh;
    height:22vh;
  }
  .checkbox-container{
    top:116vh;
  }
  #totaltime-div{
    top: 117vh;
  }
}

